.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
.ionide/symbolCache.db
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/Vila Botequim/v17/.suo
